/* body {
    font-family: Arial;
    text-align: center;
}

form {
    margin: 20px;
}

input, select, button {
    margin: 5px;
    padding: 8px;
} */




body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}