<!DOCTYPE html>
<html>
<head>
    <title>Benskin Insight</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>🚗 Benskin Data Insight</h1>

    <form action="/submit" method="POST">

        <input name="age" placeholder="Âge" required>
        <input name="experience" placeholder="Expérience" required>
        <input name="heures_travail" placeholder="Heures de travail" required>
        <input name="clients" placeholder="Nombre de clients" required>
        <input name="revenu" placeholder="Revenu journalier" required>
        <input name="fatigue" placeholder="Fatigue (1-10)" required>

        <select name="accident">
            <option value="0">Pas d'accident</option>
            <option value="1">Accident</option>
        </select>

        <button type="submit">Envoyer</button>

    </form>

</div>

</body>
</html>