<!DOCTYPE html>
<html>
<head>
    <title>Benskin Data</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Formulaire Conducteur</h2>

<form action="/submit" method="post">

    <input type="number" name="age" placeholder="Âge" required>
    <input type="number" name="experience" placeholder="Expérience" required>
    <input type="number" step="0.1" name="heures_travail" placeholder="Heures de travail" required>
    <input type="number" name="clients" placeholder="Clients" required>
    <input type="number" step="0.1" name="revenu" placeholder="Revenu" required>
    <input type="number" min="1" max="10" name="fatigue" placeholder="Fatigue (1-10)" required>

    <select name="accident">
        <option value="0">Pas d'accident</option>
        <option value="1">Accident</option>
    </select>

    <button type="submit">Envoyer</button>

</form>

</body>
</html>